name: Deploy to EC2

# develop 브랜치에 코드가 올라오면
on:
  push:
    branches: [ "develop" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: EC2 접속 및 배포 실행
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd ~/BE
            
            git pull origin develop

            chmod +x gradlew

            ./gradlew build -x test

            docker-compose up -d --build

            docker image prune -f